

<nav class="navbar navbar-inverse" style="background: #f953c6;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #b91d73, #f953c6);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #b91d73, #f953c6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
">
  <div class="container-fluid text-center">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Birthday Viewer</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <% if(!user_signed_in?) %>
      <li> <%= link_to "Log In", new_user_session_path %></li>
      <li> <%= link_to "Sign Up", new_user_registration_path %></li>
      <% else %>
      <b><%= current_user.email %></b>
      <li> <%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
      <% end %>
    </ul>
  </div>
</nav>